.navbar {
    display: flex;
    justify-content: space-around;
    padding: 12.8px; /* 16px * 0.8 */
    box-shadow: 0 0.8px 2.4px -1.6px black; /* 1px, 3px, -2px * 0.8 */
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 8px; /* 10px * 0.8 */
}

.nav-logo p {
    color: #171717;
    font-size: 30.4px; /* 38px * 0.8 */
    font-weight: 600;
}


.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 18px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: #FF4141;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 36px; /* 45px * 0.8 */
}

.nav-login-cart button {
    width: 125.6px; /* 157px * 0.8 */
    height: 46.4px; /* 58px * 0.8 */
    outline: none;
    border: 0.8px solid #7a7a7a; /* 1px * 0.8 */
    border-radius: 60px; /* 75px * 0.8 */
    color: #515151;
    font-size: 16px; /* 20px * 0.8 */
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}

.nav-login-cart button:active {
    background-color: #f3f3f3;
}


.nav-cart-count{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -33px;
    margin-left: -48px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}